:root {
  --brand-pink: #e75b24;
  --brand-purple: #7300f3;
  --brand-violet: #1c47e5;
  --brand-blue: #263475;
  --brand-orange: #e75b24;

  --brand-black: #000000;

  --brand-grey-darker: #00000f;
  --brand-grey-dark: #30303f;
  --brand-grey: #41414f;
  --brand-grey-light: #82828f;
  --brand-grey-lighter: #e3e3ef;
  --brand-grey-dimmed: #f6f6ff;

  --color-primary: #e75b24;

  --brand-gradient: linear-gradient(to right, #263475, #e75b24);
}
