.container {
  margin: var(--spacer);
}

@media screen and (min-width: 60rem) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {
    margin-left: calc(var(--spacer) * 2);
  }
}

.content {
  padding: var(--spacer);
}

.content h2 {
  font-size: var(--font-size-h1);
  font-weight: bold;
}

.index {
  display: flex;
  flex-direction: column;
}

.fractionNumber {
  margin: 0;
  width: min-content;
  font-size: var(--font-size-h3);
  font-weight: bold;
  color: var(--brand-grey-lighter);
}

.fractionNumber:first-of-type {
  border-bottom: 1px solid var(--brand-grey-lighter);
}
