.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tagLine {
  margin-top: var(--spacer);
  margin-bottom: var(--spacer);
  font-weight: bold;
  text-align: center;
}

.description {
  margin-bottom: 0;
  text-align: center;
}
