.title {
  text-align: center;
}

.list {
  width: 100%;
  padding: 0 var(--spacer);
  display: flex;
  flex-direction: column;
}

@media (min-width: 52rem) {
  .list {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }

  .partner {
    border: 3px solid var(--background-content);
  }

  .partner:hover {
    border: 3px solid var(--border-color);
    transition: 300ms ease 0s;
  }

  .partner img {
    filter: grayscale(85%);
  }

  .partner img:hover {
    filter: grayscale(0%);
    transition: filter 300ms ease 0s;
  }
}
