.container {
  margin: var(--spacer);
}

@media screen and (min-width: 50rem) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
  }

  .container.mirror {
    flex-direction: row-reverse;
    text-align: left;
  }
}

.container > * {
  flex: 1 1 0;
}

.svg {
  max-width: 30rem;
  margin: auto;
}

.content {
  padding: var(--spacer);
}

.content h2 {
  font-size: var(--font-size-h1);
}

.content button,
.content a[class*='button'] {
  display: block;
  margin: var(--spacer) auto;
  margin-right: auto;
}

.index {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container.mirror .index {
  align-items: flex-start;
}

.fractionNumber {
  margin: 0;
  width: min-content;
  font-size: var(--font-size-h3);
  font-weight: bold;
  color: var(--brand-grey-lighter);
}

.fractionNumber:first-of-type {
  border-bottom: 1px solid var(--brand-grey-lighter);
}
